<!DOCTYPE html>
<html>

<%- include('./components/root/head.ejs', { title: 'Content' }) %>

<body>
    <div class="page">
        <%- include('./components/root/header.ejs') %>
        <main class="main">
            <section class="content">
                <div class="container">
                    <div class="content__inner">
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias commodi ut deleniti quia, culpa ullam pariatur minima consequuntur explicabo aut dolore, rem atque! Culpa minus nesciunt, reprehenderit quia aliquam nam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, culpa modi. Et nostrum dolore, reprehenderit ipsum libero veniam temporibus corporis ut beatae. Minus illum doloremque nisi sint quos eos labore?</p>
                        <picture>
                            <source srcset="img/content/image1.webp 1600w,img/content/image1-1440.webp 1440w,img/content/image1-768.webp 768w">
                            <source srcset="img/content/image1.jpg">
                            <img src="img/content/image1.jpg" alt="lorem ipsum" width="1370" height="772">
                        </picture>
                        <h2>Lorem, ipsum dolor.</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt fugiat dolorum hic consectetur voluptatum. Pariatur illo veniam ea repellat dolores. Amet quidem et dolores quod voluptate minima sapiente accusamus magnam!</p>
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident tempora perferendis odio voluptatum inventore obcaecati laudantium, eos ipsam hic, sit, commodi a alias at consectetur officia aperiam fuga nemo nesciunt?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, impedit atque? Eum odio veritatis reprehenderit voluptas quae tempore dolorum consequatur, quod debitis incidunt laborum quasi possimus deserunt quisquam. Deserunt, officia!</p>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, unde fuga animi quasi voluptates magni dicta. Enim, nisi! Officiis reprehenderit totam tempore optio repellat neque voluptatibus quae est quibusdam nesciunt.</p>
                        <h2>Lorem ipsum dolor sit, amet consectetur adipisicing.</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quaerat accusantium nisi fugit quod unde facilis non libero, natus itaque possimus tempora rem reprehenderit, corporis quibusdam sunt ipsam! Quae, eius?</p>
                        <ol>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cumque quia nemo, aspernatur quas amet ipsam modi nostrum eos assumenda id culpa nesciunt similique tempora aliquid repellendus dolorum nulla dolorem?</li>
                            <li>Quam unde adipisci laboriosam tempore temporibus vitae ad vero! Minima, perferendis iste. Tempora ipsum qui, delectus iusto excepturi temporibus sequi a, accusamus et perferendis iure quaerat adipisci, autem exercitationem alias.</li>
                            <li>Cumque, voluptate. Ex, tempora. Vitae voluptate ullam iure molestiae sapiente. Placeat, quaerat, cum beatae nihil vitae laborum molestias perspiciatis sapiente eveniet ipsum repudiandae sint libero? Qui error quidem eum exercitationem.</li>
                        </ol>
                        <h2>Lorem, ipsum.</h2>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident illo, amet eos numquam, tenetur quae perferendis molestias voluptas voluptates qui obcaecati id culpa? Amet eum corporis numquam atque quo vitae!</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cumque quia nemo, aspernatur quas amet ipsam modi nostrum eos assumenda id culpa nesciunt similique tempora aliquid repellendus dolorum nulla dolorem?</li>
                            <li>Quam unde adipisci laboriosam tempore temporibus vitae ad vero! Minima, perferendis iste. Tempora ipsum qui, delectus iusto excepturi temporibus sequi a, accusamus et perferendis iure quaerat adipisci, autem exercitationem alias.</li>
                            <li>Cumque, voluptate. Ex, tempora. Vitae voluptate ullam iure molestiae sapiente. Placeat, quaerat, cum beatae nihil vitae laborum molestias perspiciatis sapiente eveniet ipsum repudiandae sint libero? Qui error quidem eum exercitationem.</li>
                        </ul>
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime non harum voluptatem tenetur rerum doloribus exercitationem aspernatur corporis ipsum. Illo impedit, nesciunt libero ipsam fugit tenetur odit! Impedit, inventore incidunt.</p>
                        <h3>Lorem, ipsum.</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe deserunt, esse natus ullam fugit nihil doloribus cupiditate debitis mollitia sint consequuntur id aliquam tenetur eaque dignissimos accusamus a. Facere, atque.</li>
                            <li>Odit ipsa facilis, pariatur debitis natus quam soluta animi obcaecati quia mollitia voluptate fugiat reprehenderit saepe nihil fugit eaque nam cumque. Sit error atque ad odio ullam deleniti ea numquam.</li>
                        </ul>
                        <h3>Lorem</h3>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi pariatur soluta nostrum porro voluptatem cupiditate, vero voluptatibus fuga laborum corporis doloremque distinctio omnis, veritatis dolorem! Expedita aliquam nam labore quia!</li>
                            <li>Sunt sint fugiat nisi distinctio consectetur maiores perferendis rem ad, aut labore voluptatem, accusamus velit officiis earum odio quia? Provident, quae. Accusamus harum omnis consectetur minima corporis tempora expedita beatae!</li>
                        </ul>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi numquam hic saepe sapiente sequi error! Magni mollitia soluta non cum aperiam provident quasi voluptate alias molestias, minima porro deserunt doloribus!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat placeat minima modi dignissimos, magnam consectetur maxime labore dolorum ea ad sequi tenetur? Quos animi suscipit debitis quidem temporibus, cumque molestiae.</p>
                        <h2>FAQ</h2>
                        <div class="accs _closable" itemscope="" itemtype="https://schema.org/FAQPage">
                            <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                                <div class="acc__inner">
                                    <button class="acc__head">
                                        <span itemprop="name">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span><i class="icon-arrow"></i>
                                    </button>
                                    <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                                        <div itemprop="text">
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut? Quam perspiciatis esse minima dignissimos, facilis quaerat cum veritatis labore doloribus vero nam assumenda tempora totam voluptates fuga enim accusantium?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                                <div class="acc__inner">
                                    <button class="acc__head">
                                        <span itemprop="name">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span><i class="icon-arrow"></i>
                                    </button>
                                    <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                                        <div itemprop="text">
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut? Quam perspiciatis esse minima dignissimos, facilis quaerat cum veritatis labore doloribus vero nam assumenda tempora totam voluptates fuga enim accusantium?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                                <div class="acc__inner">
                                    <button class="acc__head">
                                        <span itemprop="name">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span><i class="icon-arrow"></i>
                                    </button>
                                    <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                                        <div itemprop="text">
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut? Quam perspiciatis esse minima dignissimos, facilis quaerat cum veritatis labore doloribus vero nam assumenda tempora totam voluptates fuga enim accusantium?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                                <div class="acc__inner">
                                    <button class="acc__head">
                                        <span itemprop="name">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span><i class="icon-arrow"></i>
                                    </button>
                                    <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                                        <div itemprop="text">
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut? Quam perspiciatis esse minima dignissimos, facilis quaerat cum veritatis labore doloribus vero nam assumenda tempora totam voluptates fuga enim accusantium?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                                <div class="acc__inner">
                                    <button class="acc__head">
                                        <span itemprop="name">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span><i class="icon-arrow"></i>
                                    </button>
                                    <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                                        <div itemprop="text">
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut? Quam perspiciatis esse minima dignissimos, facilis quaerat cum veritatis labore doloribus vero nam assumenda tempora totam voluptates fuga enim accusantium?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="acc" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
                                <div class="acc__inner">
                                    <button class="acc__head">
                                        <span itemprop="name">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</span><i class="icon-arrow"></i>
                                    </button>
                                    <div class="acc__body" itemprop="acceptedAnswer" itemscope="" itemtype="https://schema.org/Answer">
                                        <div itemprop="text">
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, ut? Quam perspiciatis esse minima dignissimos, facilis quaerat cum veritatis labore doloribus vero nam assumenda tempora totam voluptates fuga enim accusantium?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('./components/root/footer.ejs') %>
        <%- include('./components/root/actions.ejs') %>
        <%- include('./components/root/popup.ejs') %>
    </div>
</body>

</html>